@use '../../scss/config/' as *;

.header {
  height: 7rem;
  background-color: $home-bg-color;

  // MEDIA QUERIES
  @include screen('laptop') {
    height: 10rem;
  }

  .flex {
    justify-content: space-between;
  }

  .logo {
    height: 1.6rem;

    // MEDIA QUERIES
    @include screen('tablet') {
      height: 1.8rem;
    }
    @include screen('laptop') {
      height: 2rem;
    }
  }
}
