@use '../../scss/config/' as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 7rem;
  width: 100%;
  background-color: $home-bg-color;
  z-index: 2000;

  // MEDIA QUERIES
  @include screen('laptop') {
    height: 10rem;
  }

  .flex {
    justify-content: space-between;
  }

  .logo {
    height: 1.6rem;

    // MEDIA QUERIES
    @include screen('tablet') {
      height: 1.8rem;
    }
    @include screen('laptop') {
      height: 2rem;
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    height: 7rem;
    width: 100%;
    background-color: rgba($color: #fff, $alpha: 0.99);
    box-shadow: 0 1.2rem 3.2rem rgb(0 0 0 / 3%);

    // MEDIA QUERIES
    @include screen('laptop') {
      height: 8rem;
    }
  }
}
