@use '../config/' as *;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

html {
  font-size: 62.5%;
}

body {
  color: #555;
  font-family: $body-font;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.transition-pause * {
  transition: none !important;
}
