@use '../../scss/config/' as *;

.cta {
  display: grid;
  align-items: center;
  justify-items: center;

  &__container {
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
    border-radius: 1.1rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;

    // MEDIA QUERIES
    @include screen('phone', landscape) {
      grid-template-columns: 40rem;
    }

    @include screen('tablet') {
      grid-template-columns: 2fr 1fr;
    }

    &-content {
      padding: 2.4rem;
      color: #45260a;

      // MEDIA QUERIES
      @include screen('tablet') {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding: 6.4rem;
      }

      .heading {
        font-size: 2.8rem;
        line-height: 1.2;
        margin-bottom: 2.4rem;

        // MEDIA QUERIES
        @include screen('lg laptop') {
          font-size: 4.4rem;
        }
      }

      .text {
        font-size: 1.4rem;
        line-height: 1.6;
        margin-bottom: 3.2rem;

        // MEDIA QUERIES
        @include screen('lg laptop') {
          font-size: 1.8rem;
        }
      }

      .form {
        display: grid;
        align-items: end;
        grid-template-columns: 1fr;
        gap: 2.4rem;

        // MEDIA QUERIES
        @include screen('lg laptop') {
          grid-template-columns: 1fr 1fr;
          column-gap: 4.8rem;
          row-gap: 3.2rem;
        }

        label {
          font-size: 1.4rem;
          font-style: inherit;
          margin-bottom: 1rem;
          display: inline-block;
          font-weight: 500;

          // MEDIA QUERIES
          @include screen('lg laptop') {
            font-size: 1.6rem;
          }
        }

        input,
        select {
          width: 100%;
          padding: 1rem;
          font-size: 1.4rem;
          font-family: inherit;
          color: inherit;
          border: none;
          background-color: #fdf2e9;
          border-radius: 9px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

          // MEDIA QUERIES
          @include screen('lg laptop') {
            padding: 1.4rem;
            font-size: 1.6rem;
          }
        }

        input::placeholder {
          color: #aaa;
        }
      }
    }

    &-image {
      height: 32rem;
      background-image: linear-gradient(
          to right bottom,
          rgba(235, 151, 78, 0.35),
          rgba(230, 125, 34, 0.35)
        ),
        url(../../images/eating.jpg);
      background-size: cover;
      background-position: center;

      // MEDIA QUERIES
      @include screen('tablet') {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        height: 100%;
      }
    }
  }
}
