@use '../../scss/config/' as *;

.featured-in {
  &__heading {
    color: #888;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.075rem;
    font-weight: 500;
    margin-bottom: 2.4rem;

    // MEDIA QUERIES
    @include screen('laptop') {
      font-size: 1.4rem;
      margin-bottom: 3.2rem;
    }
  }

  &__logos {
    display: flex;
    justify-content: space-between;

    img {
      height: 1rem;
      opacity: 0.5;

      // MEDIA QUERIES
      @include screen('tablet') {
        height: 2rem;
      }
      @include screen('laptop') {
        height: 2.4rem;
      }
      @include screen('lg laptop') {
        height: 3.2rem;
      }
    }
  }
}
